/* ------------------ ROOT/BODY STYLING ------------------ */

:root {
    --dark:#152238;
    --white:#f1f1f1;
    --pink:#FFE7F7;
}

html,body   { box-sizing:border-box; padding:0; overflow-x: hidden; margin:0; scroll-behavior:smooth;}

* {
    margin: 0;
    padding: 0;
    }

body {
    width: auto;
}


/* ------------------ FONT TYPE & SIZE STYLING ------------------ */

h1, h2 {
    font-family: 'Anton', sans-serif;
}

/* ------------------ NAVIGATION STYLING ------------------ */

.nav-list {
    background-color: var(--dark);
    margin: 0;
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
    text-decoration: none;

}


.nav-item:first-child {
    font-family: 'Anton', sans-serif;
    font-size: 1.2rem;
    margin-right: auto;
    margin-left:1rem;
}


.nav-item a {
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding:.1rem .5rem;
    color: var(--white);
}

.nav-item a:hover {
    background-color: var(--pink);
    padding:.1rem .5rem;
    color: var(--dark);
    transition: background-color .1s ease-in-out .1s;

}

/* ------------------ FOOTER STYLING ------------------ */

.footer-list {
    display: flex;
    justify-content: center;
    background-color: var(--dark);
    padding: 6rem 3rem;
}

.footer-item {
    list-style: none;
    margin-right: 2rem;
    text-decoration: none;

}

.footer-item a {
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding:.1rem .5rem;
    color: var(--white);
}





/* ------------------ HEADER STYLING ------------------ */


header {
    min-width: 100vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    padding-bottom: 5%;
}

header section.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    /* border: 3px solid white; */
    width: 90%;
    max-width: 1000px;

}


.right {
    flex-basis: 60%;
    height: 70vh;
    /* border: 3px solid white; */
    background:url(images/space.jpg) no-repeat center / cover;

}

.left{
    flex-basis:40%;
    /* border: 2px solid white; */
    margin-right: -200px;
    z-index: 3;
}


header h1 {
    font-size: 7em;
    line-height: 105%;
    color: var(--white);
}

.text_content p {
    background-color: var(--pink);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: var(--dark);
    padding: 1em;
    margin: 30px 0px;
    width: fit-content;
}


/* ------------------ MAIN STYLING ------------------ */
/* -------------------------------------------------- */

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-top:;
    background-color: var(--white);
}


/* ------------------ TITLE SECTIONS STYLING ------------------ */


.title_section, .about-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5vw;
    /* border: 1px solid black; */
}

section h2 {
    padding: 5%;
    font-size: 5em;
    color: var(--dark);
    line-height: 95%;
    flex-basis: 40%;

    
}

section p {
    padding: 5%;
    flex-basis: 40%;

}



/* ------------------ MY WORK/ GRID STYLING ------------------ */

section.flexbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-basis: 80%;
    margin: 20px;


}

.proj_ {
    background: url(images/nasa.jpg) no-repeat center / cover;
    flex-basis: 30%;
    height: 300px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;

} 

.title_container {
    background-color: rgba(255, 255, 255, .5);
    flex-basis: 60%;    /* Flex basis seems to have no/wrong effect. Also center, doesnt seem to centering  */
    height: 150px;
    width: 150px;
    padding: 50%;


}

.title_container h3, p {
    color: var(--dark);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* ------------------ MEDIA QUERY STYLING ------------------ */
/* -------------------------------------------------- */


@media only screen and (max-width: 576px) {



    
    .nav-list{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        padding: 10% 0;
    }
    
    
    .nav-item {
        list-style: none;
        margin-right: 0;
        margin: 5px;
        text-decoration: none;
    
    }   
    
    .nav-item:first-child {
        margin-right: 0;
      
    }
    
    
    
    header section.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0%;
        width: 100%;
        height: 70vh;
    }
    

    .left {    
        /* border: 2px solid white;  */
        width: 75vw;
        order: 2;
        margin-right:0;
        margin-top: -25vh;
        z-index: 1;
    }


    .right {
        width: 100vw;
        /* flex-basis: 80%; - why does this not work */
        height: 40vh;
        /* border: 3px solid white; */
        background:url(images/space.jpg) no-repeat center / cover;
    
    }
    
  
    .text_content h1 {
        font-size:4rem;
    }

    .text_content p {
        background-color: transparent;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5em;
        color: var(--white);
        padding: 1em 0;
        margin: 0;
    }



    section.flexbox {
        flex-basis: 96%;
    
    }
    .proj_ {
        flex-basis: 100%;
        height: 300px;
        margin: 5px 0;
    
    } 
    
}

@media only screen and (max-width: 765px) {

    .main {
        
    }

    .title_section, .about-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        padding: 10vh 0;
        /* border: 1px solid black; */
    }
    
    section h2 {
        flex-basis: 20%;
        color: palevioletred;


    }
    
    section p  {
        flex-basis: 20%;

    }

    
}